<div id="article-list">
    <%for(var i=0;i<data.articleList.list.length;i++){%>
        <div class='archives-li'>
            <a href="/article/<%= data.articleList.list[i].title%>" class="archives-title">
                <%=data.articleList.list[i].title%>
            </a>
            <div class="archives-time">
                <%=data.articleList.list[i].date%>
            </div>
        </div>
    <%}%>
</div>