#container.show {
    background: linear-gradient(200deg, #a0cfe4, #e8c37e);
}

#article-list {
    background: #fff;
    color: #666;
    padding: 30px;
    margin: 0 30px 30px;
    border-top: 1px solid #eeebeb;
}

.archives-li {
    overflow: hidden;
    line-height: 35px;
}

.archives-li:not(:last-child) {
    margin-bottom: 20px;
}

.archives-title {
    float: left;
    color: #696969;
    margin-left: 0;
    font-weight: 300;
    line-height: 35px;
    font-size: 22px;
    transition: color .3s;
}

.archives-time {
    float: right;
}

.tag-title {
    font-weight: bold;
    margin: 20px 0 10px;
}

.tag-list {
    overflow: hidden;
}

.tag-list .tag-li {
    float: left;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 19px;
    padding: 0 4px;
    border-bottom: 1px solid #818181;
    color: #818181;
}

.tag-list .tag-name {}

.tag-list .tag-num {}

#tagname-wrapper {
    overflow: hidden;
    background: #fff;
    color: #666;
    padding: 0 30px 20px;
    margin: 0 30px;
    text-align: center;
}

#tagname-wrapper .tag-title {
    font-weight: bold;
    margin: 20px 0 17px;
    font-size: 20px;
}

#tagname-wrapper .tag-li {
    float: left;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 22px;
    padding: 0 4px;
    border-bottom: 1px solid #818181;
    color: #818181;
}

#tagname-wrapper .tag-name {}

#tagname-wrapper .tag-num {}

#tagname-wrapper .tag-active {
    background: #cc9393;
    border-radius: 3px;
    color: #fff;
    border: none;
}

.article-inner {
    position: relative;
}

.modeify-article {
    position: absolute;
    right: 0;
    top: -1px;
    background: #000;
    color: #fff;
    padding: 2px 15px;
    font-size: 14px;
    border-radius: 3px;
}